:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;

  --main-text-color: #000;

  --first-brand-color: #a77d54;
  --second-brand-color: #c9b09a;
  --third-brand-color: #84735e;

  --main-font: 'Open Sans Condensed';
  --title-font: 'Encode Sans SC Expanded';

  font-size: 62.5%;
}
